<form id ="login"action="/registration" method= "POST">
<fieldset>
    <legend><img src="seophoelogogracrop.PNG"></legend>
    <p>Sign in to your account</p>
    <label for="email">Please enter your email</label>
    <input type="email" id ="email" name="email" value ={{email}}> <br>
    <div id ="Error">{{this.emailError}}</div>
    <label for="password">Please enter your Password</label>
    <input type="password" name ="password" value ={{password}}>
    <div id ="Error">{{this.emailError}}</div>
    <input class="button" type="submit" value="Login">
</fieldset>
<p>You don't have an account?<a href ="/registration" id = "signup">Sign up</a></p>
  
</form>