<form action="/registration" method= "POST">
<fieldset>
    <label for="email">Please enter your mail</label>
    <input type="email" id ="email" name="email"> <br>
    <label for="password">Please enter your Password</label>
    <input type="password" name ="password">
    <input type="submit" value="Login">
</fieldset>>

  
</form>