<p>{{error}}</p>
<p>{{sucess}}</p>
<form action="/registration" method= "POST">
<fieldset>
    <legend><img src="amazonlogo.PNG"></legend>
    <label for="name">Please enter your Name</label>
    <input type="text" id="name" name="name"> <br>
    <label for="email">Please enter your mail</label>
    <input type="text" id ="email" name="email"> <br>
    <label for="password">Please enter your Password</label>
     <input type="password" name ="password"> <br>
    <label for="passwordAgain">Please enter your Password Again</label>
     <input type="password" name ="passwordAgain"> <br>
    <input type="submit" value="Register">
</fieldset>>

  
</form>