<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>{{title}}</title>
</head>
<body>
    <header>
        
        <nav>
            <ul>
            <li><img src="seophoelogocrop.png" ali="seophoelogo"></li> 
            <li><a href="/">HOME</a></li>
            <li><a href="/product">PRODUCTS</a></li>
            <li><a href="/registration">REGISTRATION</a></li>
            <li><a href="/login">LOGIN</a></li>
            </ul>
        </nav>
      
    </header>
    <main>
    {{{body}}}
    </main>
    <footer>
        <br>
        <nav>
            <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/product">PRODUCTS</a></li>
            <li><a href="/registration">REGISTRATION</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="www.facebook.com">FACE BOOK</a></li>
            <li><a href="www.instagram.com">INSTAGRAM</a></li>
             <p>&copy Suhhee Kim</p>
            <ul>
        </nav>
       
    </footer>
</body>
</html>