<h1>Hello {{user.firstname}} {{user.lastname}}! You successfully logged in as a "Administrator"</h1>
<h1>Thank you!</h1>
<h1><a href="/productadd">ADD PRODUCT</a></h1>
<h1><a href="/productList">VIEW PRODUCT</a></h1>
