<fieldset>
<legend>Registration Success</legend>
<h1>Congratulation {{name}}! You successfully created an account</h1>
<h2>A confirmation email will send to {{email}}</h2>
<h1>Thank you!</h1>
</fieldset>