
<fieldset height: 2000; width: 2000;>
<legend>User dashboard</legend>
<h1 align ="left">Hello {{user.firstname}} {{user.lastname}}! </h1>
<h1 align ="left">This is an User dashboard</h1>
<h1 align ="left">Thank you!</h1>
<table border =1>
    <tbody>
        <tr>

<td><h3><a href="/shoppingCart">My Shopping Cart</a></h3></td>
</tr>
</tbody>
</table>