body{
    background-color: rgb(223,204,204);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 10px 10px 5px grey;
}
/*navigation bar*/
nav ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(52, 52, 70);
    top:0;
    width: 100%;
    font-size:1.5vw;
    font-weight: bold;
    box-shadow: 10px 10px 5px grey;
}
nav li {
    float:left;
    
}
nav li a {
    display: block;
    color: white;
    padding: 5vw 3vw;
    text-decoration: none;
    

}
nav li a:hover{
    background-color: #111;
}
nav img{
    width:15vw;
    height:5vw;
    padding: 3vw 3vw;
    

}
/*sidebar*/
#sidebar ul {
    list-style-type: none;
    margin: 50px 0 0 0;
    padding: 0;
    max-width: 90%;
    background-color: #f1f1f1;
    border-radius: 10%;
    font-size:1.5vw;
    box-shadow: 10px 10px 5px grey;
    
  }
  
  #sidebar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  #sidebar li a:hover {
    background-color: #555;
    color: white;
  }
  #categories,#bestseller{
    
    background-color: whitesmoke;
    border-radius: 10%;
  
}
#promo img{
    width:100%;
    height:30%;
    box-shadow: 10px 10px 5px grey;

}
#bestsell{
    
    width: 90%;
    height:50%;
    padding: 10% 5%;
    margin: 2% 2%;
    border-style: outset;
    border-radius: 20%;
   
}
p.ctitle{
    font-size: 3vw;

}
#categorydiv, #bestsellerdiv {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: space-evenly;
   
   
    

}
#eachcategory{
    width: 90%;
    height:90%;
    padding: 5% 0%;
    margin: 0% 0%;
   font-size: 1.5vw;
    
  
    

}
#eachcategory img{
    width: 90%;
    height:80%;
    padding: 5%;
    margin: 0% 2%;
    box-shadow: 10px 10px 5px grey;
    border-radius: 20%;
    
   
}



#eachbestsell{
    width: 90%;
    height:90%;
    padding: 5%;
    margin: 0% 2%;
  
    

}
#eachbestsell img{
    width: 90%;
        height:90%;
        padding: 5% 0%;
        margin: 0% 0%;
       font-size: 1.5vw;
       box-shadow: 10px 10px 5px grey;

}
#productsPage{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    align-content: space-evenly;


}
#productDesc{
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 70%;
    align-content: space-evenly;

}

#besticon{
    width:5vw;
    height:5vw;
}
#products{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-content: space-evenly;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#eachproducts, #ProdPicture{
   
    width: 80%;
    height:90%;
    margin: 5% 5%;
    border-radius: 20%;
    background-color: rgb(197, 168, 168);
    font-size: 1.5vw;
    overflow: hidden;
    border-style: outset;
    box-shadow: 10px 10px 5px grey;
}
#loginfield,#regifield{
    box-shadow: 10px 10px 5px grey;
}

#proddescfield{
    box-shadow: 10px 10px 5px grey;
}
#productpic{
    position: relative;
    width: 80%;
    height:50%;
    padding:5%;
    border-radius: 40%;
    margin: 5%;
    box-shadow: 10px 10px 5px grey;
   
}
#besticon{
    position: absolute;
   

}
#regi,#login{
    margin: 0 auto;
    width:50vw;
    padding: 2vw 10vw;
    color: rgb(206, 103, 20);
    border-style: outset;

}
#regi input,#login input, #login button{
    width: 15vw;
    height: 1.5vw;
    font-family: cursive;
    font-weight:bold;
    font-size: 1.5vw;
}
#regi img,#login img{
   
 width: 30vw;
 height:8vw;



}
#regi label,#login label{
    font-weight: bold;
    font-size: 2vw;

}
#regi p, #login p{    
    font-size: 3vw;
    font-family: cursive;

}
input#button{
    background-color:  rgb(52, 52, 70);
    margin-top: 5%;
    color: white;
    font-size: 1.5vw;
    height:3vw;

}

#Error{
    color:red;

}
#selectbar{
    height: 3vw;
    width: 10vw;
    font-size: 1vw;
}

/* Small devices (phones, 576px and up)*/
  
@media (max-width: 767.98px) {
    #productDescPic{
        height: 60vw;
        width: 60vw;
        font-size :2vw;
    }
    body{
        font-size:5vw;
    }
    #promo{
    display: none;   
    }
   
    #categorydiv, #bestsellerdiv {
        grid-template-columns: 1fr 1fr;
       
    }
    #eachcategory{
        width: 90%;
        height:80%;
        padding: 5% 0%;
        margin: 0% 0%;
       font-size: 2vw;
    
    }
    #productsPage{
        grid-template-columns: 1fr;
    }
    #products{
    
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #besticon{
        width:9vw;
        height:9vw;
    }
    #selectbar{
        height: 3vw;
        width: 20vw;
        font-size: 2vw;
    }


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 998.98px) { 
    #selectbar{
        height: 3vw;
        width: 20vw;
        font-size: 2vw;
    }
    #productDescPic{
        height: 50vw;
        width: 40vw;

    }
    body{
        font-size:3vw;
    }
    #promo{
        display: none;   
        }
    nav img{
        width:15vw;
        height:5vw;
        font-size:1.5vw;
    }
    #productsPage{
        grid-template-columns: 1fr;
    }
    #products{
    
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #besticon{
        width:7vw;
        height:7vw;
    }
}

