<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <img id="logos" src="amazonlogo.png" ali ="Amazon logo">
        <nav>
            <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/products">PRODUCTS</a></li>
            <li><a href="/registration">REGISTRATION</a></li>
            <li><a href="/login">LOGIN</a></li>
            </ul>
        </nav>
        <h3>{{headingInfo}}</h3>
    </header>
    <main>
    {{{body}}}
    </main>
    <footer>
        <nav>
            <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/products">PRODUCTS</a></li>
            <li><a href="/registration">REGISTRATION</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="www.facebook.com">FACE BOOK</a></li>
            <ul>
        </nav>
        <p>&copy Suhhee Kim</p>
    </footer>
</body>
</html>